.outer-container {
    max-width: 1200px;
    margin: 0 auto;
}

h1{
    text-align: center;
    font-size: 36px;
}

h2{
    text-align: center;
    font-size: 24px;
    margin: 10px;
}

p, .profexp {
    font-size: 18px;
    text-align: justify;
    line-height: 1.5em;
}

img {
    border: 2px solid black;
    border-radius: 7px;
}

.text-container {
    margin: 10px;
}

.img-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    /* justify-content: center; horizontal allignment*/
}

@media only screen and (min-width: 600px) {
    .container {
        display: flex;
        gap: 10px;
    }

    .text-container {
        min-width: 40ch;
        max-width: 70ch;
        margin: 0 15px;
    }

    .img-container {
        min-width: 25%;
        margin: 10px;
    }
}