.main-container {
  max-width: 1200px;
  margin: 0 auto;
  background-color: var(--dxp-g-neutral);
  border-radius: 5px;
  padding: 20px;
}

.header {
  text-align: center !important;
  font-size: 24px;
  margin-bottom: 20px;
  background-color: var(--dxp-g-neutral);
}

.outer-containe {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 6px;
  transition: 0.3s;
  border-radius: 5px;
  margin: 10px;
  min-height: 130px; 
}

.card:hover {
  box-shadow: 0 8px 16px 6px rgba(0,0,0,0.3);
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

img {
  max-height: 50px;
  max-width: 50px;
  display: block;
  margin: auto;
  width: 50%;
}

.text-container {
  padding: 8px;
  margin: 0 8px;
}

h4 {
  font-size: 16px;
  text-align: center;
}

p {
  font-size: 12px;
  text-align: center;
}

/* Responsive layout - makes the cards stack on top of each other */
@media (min-width: 768px) {
  .outer-containe  {
      display: flex;
  }

  .card {
      width: 20%;
  }
}
