.outer-containe {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    min-height:150px;
    min-width:100px; */
    max-width: 1200px;
    margin: 0 auto;
    background-color: var(--dxp-g-neutral);
    border-radius: 5px;
    padding: 20px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    margin: 10px;
    max-height: 200px;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 6px rgba(0,0,0,0.3);
  }
  
  .text-container {
    padding: 8px;
    margin: 0 8px;
  }

  .text-container p {
    font-size: 10px;
  }

  h1 {
    text-align: center;
    font-size: 18px;
  }
  
  /* Responsive layout - makes the cards stack on top of each other */
  @media (min-width: 768px) {
    .card-container  {
      display: flex;
    }
  
    .card {
      width: 10%;
      max-height: 50px;
    }
  }